 /* FONTS **********************************/

 @font-face {
   font-family:OldLondon;
   src: url(Old-London/OldLondon.ttf);
 }

 @font-face {
   font-family:PlayfairDisplay;
   src: url(Playfair-Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
 }

 @font-face {
   font-family:Deutsch;
   src: url(Deutsch-Gothic/Deutsch.ttf);
 }

 /**********************************/
body{
  display: flex;
  justify-content: center;
  background: #e7d1ff;
}

pre{
  font-family:Deutsch;
  font-size: 35px;
  top:10px;
  position: absolute;
  margin-bottom: 15px;
  padding: 15px;
}
h1{
  font-family:OldLondon;
  font-size: 50px;
}
p{
  font-family:PlayfairDisplay;
}

#container{
  position: relative;
  top: 200px;
  width: 500px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}

ul{
  position: relative;
  margin-bottom: 12px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}

a{
  text-decoration: none;
  background: #FFF;
  padding: 15px;
}

a:hover{
  backgruond: red;
}
